body{
  background-color: #212529;
}

header{
    background-color: #0d6efd;
    font-size: 25px;
    font-weight: bold;
    
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
  background-color: #212529;
}


/*Text*/
.home{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.course{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.col-md-5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.katalog{
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
.katalog-2{
  color:white;
  text-align: center;
  font-weight:100;
  font-size: 30px;
}
.python_text{
  color:white;
  text-align:center;
  font-weight: bold;
  font-size: 60px;
}
.star::before {
  content: "\2605"; /* Юникодный символ звезды */
  color: black; /* Цвет звезды */
  margin-right: 4px; /* Расстояние между звездой и текстом */
}
/*Cards*/
.jun{
  position: relative;
  top: 205px;
}
.middle{
  position: relative;
  top: 78px;
}
.price{
  text-align: center;
  font-weight: bold;
  position: relative;
  top:5px;
  font-size: 30px;
}
.lvl{
  font-weight: bolder;
}
.lvlm{
  position: relative;
  top:130px;
  font-weight: bolder;
}
.lvls{
  position: relative;
  top:52px;
  font-weight: bolder;
}


/*For footer*/
hr {
  border: 3px solid white;
  background-color: white; /* Устанавливаем цвет фона линии */
}
/*Accordion*/

.accordion {
  width: 300px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.accordion-header {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}

/*progress*/

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px;
  transition: width 0.5s;
}


.tablinks {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tablinks.active {
  background-color: #45a049;
}

/* Стили для содержимого вкладок */
.tabcontent {
  display: none;
}

.my-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

