body{
  background-color: #212529;
}

header{
    background-color: #0d6efd;
    font-size: 25px;
    font-weight: bold;
    
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
  background-color: #212529;
}


/*Text*/
.home{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.course{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.col-md-5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.katalog{
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
.katalog-2{
  color:white;
  text-align: center;
  font-weight:100;
  font-size: 30px;
}
.python_text{
  color:white;
  text-align:center;
  font-weight: bold;
  font-size: 60px;
}
.star::before {
  content: "\2605"; /* Юникодный символ звезды */
  color: black; /* Цвет звезды */
  margin-right: 4px; /* Расстояние между звездой и текстом */
}
/*Cards*/
.jun{
  position: relative;
  top: 205px;
}
.middle{
  position: relative;
  top: 78px;
}
.price{
  text-align: center;
  font-weight: bold;
  position: relative;
  top:5px;
  font-size: 30px;
}
.lvl{
  font-weight: bolder;
}
.lvlm{
  position: relative;
  top:130px;
  font-weight: bolder;
}
.lvls{
  position: relative;
  top:52px;
  font-weight: bolder;
}


/*For footer*/
hr {
  border: 3px solid white;
  background-color: white; /* Устанавливаем цвет фона линии */
}
/*Accordion*/

.accordion {
  width: 300px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.accordion-header {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}

/*progress*/

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px;
  transition: width 0.5s;
}


.tablinks {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tablinks.active {
  background-color: #45a049;
}

/* Стили для содержимого вкладок */
.tabs {
  background-color: #0d6efd;
  display: flex;
  font: 1em sans-serif;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

.tab-content {
  display: none;
  padding: 10px;
  background-color: black;
  color: white;
}
/*search bar*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #0d6efd;
}
.search-box{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active{
  width: 350px;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
  opacity: 1;
}
.search-box input::placeholder{
  color: #a6a6a6;
}
.search-box .search-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  
  color: #0d6efd;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  
  background: #0d6efd;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data{
  text-align: center;
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
}
.search-box .search-data.active{
  display: none;
}
.scrollTop{
  position:fixed;
  bottom: 50px;
  right: 30px;
  padding: 10px,15px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  border-radius: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s  ease 0s;
}
/* button*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
}

.show-modal {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}
.show-modal:hover {
  background-color: #265df2;
}
button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;

  bottom: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
section.active .show-modal {
  display: none;
}
.overlay1 {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
.button {
  position: relative;
  top: 205px;
}